{% extends 'base.html'%}

{% block body %}
    <h1>Hola {{nombre}} Bienvenido  a tu ToDolist!!</h1>
    <! -- contenedor del formulario -->

    <section class="container">
        <h2 class="subtitle"> ingresa una tarea nueva:</h2>
        <form action="{{url_for ('agregar')}}" method="POST">
        <input type="text" name="tarea">
        <button id="btn-submit" type="submit">agregar</button>
        </form>
    </section>

    {% if lista_tareas|length < 1 %}
        <h4 class="subtitle">No hay tareas pendientes!</h4>
    {% else %}
    <! -- contenedor de tareas -->
    <section class="container">


        {% for tarea in lista_tareas %}
        <article class="task container">
                <table>
                    <tr>
                        <td>
                        {{tarea}}
                        </td>
                        <td>
                            <a class="anchor" href="/delete/{{lista_tareas.index(tarea)}}">delete</a>
                        </td>
                    
                    </tr>
                </table>
        </article>
        {%endfor%}
        {% endif %}
    </section>

    

    {% endblock %}