{% extends 'base.html'%}

{% block body %}
    <h1>Hola {{nombre}} Bienvenido  a tu ToDolist!!</h1>
    <! -- contenedor del formulario -->

    <section class="container">
        <h2 class="subtitle"> ingresa una tarea nueva:</h2>
        <form action="{{url_for ('agregar')}}" method="POST">
        <input type="text" name="tarea">
        <button id="btn-submit" type="submit">agregar</button>
        </form>
    </section>

    <! -- contenedor de tareas -->
    <section class="container">

        {% for tarea in lista_tareas %}
        <article class="task container">
            {{tarea}}
        </article>
        {%endfor%}
    </section>

    

    {% endblock %}